@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/coc-background.jpg") no-repeat center center fixed;
    background-size: cover;
    font: 1rem "Lato", Arial, sans-serif;
    color: #9E9E9E;
}

a {
    color: #9E9E9E;
    text-decoration: none;
}

a:hover {
    color: #9E9E9E;
    text-decoration: underline;
}

button {
    appearance: none;
    background-color: white;
    border: 0;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

button[disabled] {
    color: #9E9E9E;
    background-color: #E0E0E0 !important;
}

button img {
    max-height: 1.5em;
    vertical-align: middle;
}

button[disabled] img {
    filter: grayscale(100%);
}

.solde-or {
    position: fixed;
    width: 100%;
    background: white;
    color: #3B3B3B;
    padding: .5rem;
    height: 60px;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.solde-or img {
    max-height: 3em;
    vertical-align: middle;
}


header {
    padding: 80px 0 20px;
    text-align: center;
}

header h1,
header .description {
    font-size: 3.25rem;
    color: white;
    text-shadow: 1px 1px 2px black; /* offset-x | offset-y | blur-radius | color */
}

header  h1 {
    margin: 0;
}

header .description {
    font-size: 1.5rem;
    line-height: 1.25;
    max-width: 640px;
    margin: 0 auto 1em;
}

/*** Footer ***/
main + footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

main + footer a {
    color: white;
}

/*** Liste des cartes ***/
ul.cartes {
    list-style-type: none;
    padding: 0;
    margin: 2rem auto 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

}

/*** Une carte ***/
ul.cartes li {
    margin: 40px 40px 80px;
    background: white;
    width: 300px;
    max-width: calc(100% - 80px);
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 99;
}

/*** Entête ***/
article header {
    position: relative;
    height: 230px;
    padding: 0;
    margin-bottom: 35px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    text-align: center;
}

article header img {
    width: 400px;
    position: absolute;
    top: -65px;
    left: -70px;
}

/*** Contenu ***/
article .level {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
}

article h2 {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}

article button {
    color: white;
    background: #9E9E9E;
    margin: 20px 0 0;
    padding: .75em 1.5em;
}

article p.description {
    padding: 20px;
    margin-bottom: 100px;
}

/*** Footer ***/
article footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    overflow: hidden;
}

article footer > div {
    width: calc(100% / 3);
    float: left;
    padding: 20px 15px;
}

article footer sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
}

article footer > div > div:first-child {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}

article footer > div > div:first-child + div {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

article footer > div {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

article footer > div:last-child {
    border-right: none;
}
