<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titre de la page -->
    <title>Clash of Clans</title>
    <!-- Auteur -->
    <meta name="author" content="Steve Fallet">
    <!-- Icone de base -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" sizes="16x16">
    <!-- Styles -->
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <div class="solde-or">
        <img src="img/piece-or-note.jpg" alt="Solde Or">
        20 000 pièces d'or
    </div>
    <header>
        <h1>{{ titre }}</h1>
        <p class="description"> {{ description }}</p>
        <a :href="site">
            <button>Site officiel</button>
        </a>
    </header>
    <main>
        <ul class="cartes">
            <li v-for="troupe in troupes" :key="troupe.id">
                <article>
                    <header :style="`background: url('../img/${ troupe.imageFond }')`">
                        <img :src="'img/' + troupe.image" :alt="troupe.nom"/>
                    </header>

                    <div class="level"
                         :style="`color: ${ troupe.couleur }`"
                    >
                        Niveau {{ troupe.niveau }}
                    </div>

                    <h2 class="name">{{ troupe.nom }}</h2>

                    <button>
                        Former <img src="img/piece-or.png" alt="Former">
                    </button>

                    <p class="description">
                      {{ troupe.description }}
                    </p>

                    <footer >
                        <div class="training" :style="`background-color: ${ troupe.couleur }`">
                            <div v-if="troupe.formation > 60">
                                {{ Math.round(troupe.formation / 60) }}<sup>min
                            </sup>
                            </div>
                            <div v-else>
                                {{ troupe.formation }}<sup>sec</sup>
                            </div>
                            <div>Formation</div>
                        </div>

                        <div class="speed" :style="`background-color: ${ troupe.couleur }`">
                            <div>{{ troupe.vitesse }}</div>
                            <div>Vitesse</div>
                        </div>

                        <div class="cost" :style="`background-color: ${ troupe.couleur }`">
                            <div>{{ troupe.cout }}</div>
                            <div>Coût</div>
                        </div>
                    </footer>
                </article>
            </li>
        </ul>
    </main>
    <footer>
        &copy; 2023 -
        <a :href="site">
            Supercell.com
        </a>
    </footer>
</div>
<script src="js/main.js"></script>
</body>
</html>
